@charset "gb2312";
/* 共用css */
* { margin: 0; padding: 0 }
body { font: 12px "Microsoft Yahei", Arial, Helvetica, sans-serif; }
img { border: 0; display: block }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { outline: none; color: #000 }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
.clear { clear: both; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
h2{ font-size:28px; }
h2.cp{ text-align:center; margin:30px 0}



header { overflow: hidden;  width: 1000px; margin: 10px auto}

#logo { width: 260px; float: left }
nav { width: 650px; float: right; margin: 30px 0 0 0; text-align: right }
nav a { position: relative; display: inline-block; font-size: 20px; width: 140px; text-align: center }
nav a:hover { text-decoration: none }
.topnav a span:first-child { z-index: 2; display: block; }
.topnav a span:last-child { z-index: 1; display: block; color: #999; font: 12px Georgia, serif; opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); text-align: center }
.topnav a:hover span:last-child, .topnav a:focus span:last-child { opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); transform: translateY(0%); }
#topnav_current { color: #000; }
.en { color: #999; font-size: 12px; z-index: 1; display: block; }/* ie */
.about { background: #035d82 url(../images/banner.jpg) repeat-x; height: 268px;  font-size: 20px; color: #FFF; line-height: 1.9; margin: 10px 0 }
.about ul { width: 900px; margin: auto; padding-top: 50px }
.text_a { -webkit-animation: animations 15s ease-in-out 1s infinite; -moz-animation: animations 15s ease-in-out 1s infinite; -o-animation: animations 15s ease-in-out 1s infinite; -ms-animation: animations 15s ease-in-out 1s infinite; animation: animations 15s ease-in-out 1s infinite; }
@-webkit-keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
@-moz-keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
@-o-keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
@-ms-keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
@keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}

#outer{margin:10px auto; width:557px}
#tab{overflow:hidden;border:#d9d9d9 1px solid; border-radius: 5px}
#tab li{float:left;height:30px;cursor:pointer;line-height:30px; width:110px; text-align:center;border-right:#d9d9d9 1px solid; }
#tab li:last-child{ border-right:0}
#tab li.current{color:#fff;background:#0079ff;}
#content ul{display:none; text-align:center;margin:30px auto;}
#content ul img{ display:block; margin:auto; border:#CCC 1px solid; padding:10px; height:250px  }
.pics { width:1000px;  overflow:hidden;}
.pics li {margin-right:10px; overflow:hidden;float:left;}

.buy{ color:#333; font-size:16px; text-align:center; padding:30px 0 50px ;  width:1000px; margin:auto}
.buy span{ background:#099CFE; color:#FFF; padding: 8px 30px; border-radius: 40px 0}
.contact{ margin:auto; width:1000px;border-top:#ccc 1px solid; padding-top:40px}
 
.info{ background:url(../images/yin.jpg) no-repeat left top; font-size:16px; margin-left:40px; float:left; margin-top:40px}
.info p{ width:320px; margin:0 0 0 80px; color:#666; line-height:1.9}
.txl{ float:right; font-size:16px; background:url(../images/txl.jpg) left no-repeat}
.txl p{ margin:20px 0; padding-left:60px}

footer{ background:#333 url(../images/foot.jpg) repeat-x; line-height:50px; height:50px; text-align:center; color:#888; margin-top:40px}
footer a{color:#888}
#lh{
	text-indent: 2em;
	text-align: center center;
	font-size: 20px;
}
#logo img{
	width: 86px;
}
