	body{
		width: 100%;
		height: 100%;
	}
	a {
		cursor: pointer;
	}
	
	.select {
		color: #000;
		background: #fff;
	}
	
	.layui-nav {
		width: 12%;
		z-index: 997;
	}
	
	.layui-nav i {
		margin-right: 10px;
	}
	
	.user {
		width: 45px;
		height: 100px;
		position: relative;
		cursor: pointer;
	}
	
	.user .takeUp {
		width: 50px;
		height: 100px;
		position: absolute;
		background-color: #000;
	}
	
	.user .teamHead {
		width: 70px;
		background-color: #fff;
		position: absolute;
		left: 80px;
		top: 35%;
	}
	
	.user i {
		font-size: 25px;
		color: #108ee9;
		position: absolute;
		top: 35%;
		left: 20%;
	}
	
	.user img {
		width: 100%;
	}
	
	.content {
		width: 15%;
		height: 100%;
		overflow: auto;
		position: absolute;
		left: 12%;
		background: #fff;
	}
	
	.content .layui-card .layui-card-header span {
		cursor: pointer;
	}
	
	.content .layui-card .layui-card-header #all {
		font-size: 20px;
	}
	
	.content .layui-card i {
		color: #ddd;
		padding: 15px;
		cursor: pointer;
	}
	
	.content .layui-card .layui-card-body li {
		margin: 15px 0px;
	}
	
	.content .layui-card .layui-card-body span {
		color: #ddd;
		padding: 15px;
	}
	
	.content .layui-card .layui-card-body a {
		cursor: pointer;
	}
	
	.content .layui-card .layui-card-body .layui-icon-add-1 {
		font-size: 14px;
		color: #108ee9;
		border: 1px solid #108ee9;
		padding: 0px;
		border-radius: 15px;
	}
	
	.content .layui-card .layui-card-body .layui-icon-add-1:hover {
		color: #fff;
		background-color: #108ee9;
	}
	
	.content .layui-card .layui-card-body .fa {
		color: #aaa;
		font-size: 25px;
		padding: 0;
		float: right;
	}
	
	.main {
		width: calc(100% - 27%);
		height: 100%;
		position: absolute;
		left: 27%;
	}
	
	iframe {
		border: 0px solid #000;
	}
	
	.Show {
		width: 40px;
		height: 80px;
		background-color: #108ee9;
		line-height: 80px;
		text-align: center;
		position: fixed;
		top: calc(50% - 50px);
		border-radius: 0 100px 100px 0;
		z-index: 999;
		display: none;
		cursor: pointer;
	}
	
	.Show i {
		font-size: 30px;
		color: #fff;
	}
	
	.pointsLayer {
		display: none;
	}
	
	.pointsLayer i {
		margin-right: 5px;
	}
	
	.pointsLayer a {
		color: #108EE9;
	}
	
	.pointsLayer .pointsLayerReturn {
		height: 40px;
		line-height: 40px;
	}
	
	.pointsLayer .pointsLayerReturn i {
		cursor: pointer;
		position: absolute;
		right: 15px;
	}
	
	.pointsLayer .pointsLayerMain {}
	
	.pointsLayer .pointsLayerMain .caption {
		height: 35px;
		line-height: 35px;
		border-radius: 3px;
		background-color: #233046;
		color: #fff;
	}
	
	.pointsLayer .pointsLayerReturn,
	.pointsLayer .pointsLayerMain .sort,
	.pointsLayer .pointsLayerMain .caption,
	.pointsLayer .pointsLayerMain .coordinate,
	.pointsLayer .pointsLayerBottom {
		padding: 10px;
	}
	
	.pointsLayer .pointsLayerMain .sort #time,
	.pointsLayer .pointsLayerMain .sort #letter {
		cursor: pointer;
		margin: 0px 5px;
		padding: 3px 6px;
		border-radius: 4px;
	}
	.pointsLayer .pointsLayerMain .sort .active{
		background-color: #108EE9;
		color: #fff;
	}
	.pointsLayer .pointsLayerMain .coordinate {
		height: 700px;
		overflow: auto;
	}
	
	.pointsLayer .pointsLayerMain .coordinate li {
		padding: 0px 20px;
		height: 35px;
		line-height: 35px;
		cursor: pointer;
	}
	
	.pointsLayer .pointsLayerMain .coordinate li:hover {
		background-color: #8CCBE2;
		color: #fff;
	}
	
	.pointsLayer .pointsLayerMain .coordinate i {
		color: #FF0000;
	}
	
	.pointsLayer .pointsLayerBottom .import {
		position: absolute;
		right: 10px;
	}
	
	.pointsLayer .attribute {
		margin-top: 20px;
		height: 350px;
		display: none;
		position: relative;
	}
	
	.pointsLayer .attribute i {
		cursor: pointer;
	}
	
	.pointsLayer .attribute li {
		margin: 20px 0;
		padding: 0px 10px;
	}
	.pointsLayer .attribute #test1 img{
		width: 100%;
		height: 100%;
	}
	.pointsLayer .attribute .layui-icon-picture {
		position: absolute;
		color: #fff;
		right: 40px;
		top: 10px;
	}
	
	.pointsLayer .attribute .layui-icon-close {
		color: #fff;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
	}
	
	.pointsLayer .attribute .title {
		border-radius: 3px;
		padding: 10px;
		font-size: 16px;
		background-color: #233046;
		margin-bottom: 10px;
		color: #fff;
	}
	
	.pointsLayer .attribute #test1 {
		margin: auto;
	}
	
	.pointsLayer .attribute .material {
		width: 100%;
		height: 150px;
		overflow: auto;
		position: relative;
	}
	
	.pointsLayer .attribute .material span {
		color: #757575;
	}
	
	.pointsLayer .attribute .material .means {
		width: 35%;
		display: inline-block;
		vertical-align: top;
	}
	
	.pointsLayer .attribute .material .value {
		width: 65%;
		display: inline-block;
		vertical-align: top;
		color: rgba(0, 0, 0, .8);
	}
	
	.mask {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		position: fixed;
		z-index: 998;
		display: none;
	}
	
	.uppicture {
		width: 570px;
		height: 350px;
		background-color: #fff;
		z-index: 999;
		position: absolute;
		left: calc(50% - 285px);
		left: -moz-calc(50% - 285px);
		left: -webkit-calc(50% - 285px);
		top: calc(50% - 175px);
		top: -moz-calc(50% - 175px);
		top: -webkit-calc(50% - 175px);
		;
		border-radius: 5px;
		display: none;
	}
	
	.uppicture .layui-card-header i {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	
	.uppicture .layui-card-body .Up,
	.uppicture .layui-card-body .alreadyUp {
		width: 120px;
		height: 120px;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
		float: left;
		margin-right: 10px;
	}
	
	.uppicture .layui-card-body .Up .picture
	{
		width: 100%;
		height: 100%;
		border: 1px dashed #ddd;
		border-radius: 5px;
		cursor: pointer;
	}
	.uppicture .layui-card-body .alreadyUp .picture{
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	.uppicture .layui-card-body .Up .picture:hover{
		border: 1px dashed #108EE9;
	}
	
	.uppicture .layui-card-body .Up .picture div
	{
		width: 122px;
		height: 122px;
		margin: auto;
		margin-top: 30px;
		text-align: center;
	}
	.uppicture .layui-card-body .alreadyUp .picture div{
		width: 122px;
		height: 122px;
		line-height: 122px;
		margin: auto;
		text-align: center;
		overflow: hidden;
	}
	.uppicture .layui-card-body .alreadyUp .picture div img{
		width: 100%;
	}
	.uppicture .layui-card-body .Up .picture div i {
		font-size: 25px;
		color: #bae6e2;
	}

	
	.uploading {
		width: 570px;
		height: 350px;
		background-color: #fff;
		z-index: 999;
		position: absolute;
		left: calc(50% - 285px);
		left: -moz-calc(50% - 285px);
		left: -webkit-calc(50% - 285px);
		top: calc(50% - 175px);
		top: -moz-calc(50% - 175px);
		top: -webkit-calc(50% - 175px);
		border-radius: 5px;
		display: none;
	}
	
	.uploading .layui-card-header i {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	
	.uploading .layui-card-body .ps {
		width: 80%;
		font-size: 10px;
		text-align: left;
		margin-top: 50px;
	}
	.uploading .layui-card-body .ps p{
		color: #c1c1c1;
	}
	.uploading .layui-card-body .ps span{
		color: #666;
	}
	.uploading .layui-card-body .ps a {
		color: #108EE9;
		padding-right: 10px;
	}
	
	.uploading .layui-card-body .Up {
		width: 120px;
		height: 120px;
		margin: auto;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
	}
	
	.uploading .layui-card-body .network {
		width: 100%;
		height: 100%;
		border: 1px dashed #ddd;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.uploading .layui-card-body .network:hover {
		border: 1px dashed #108EE9;
	}
	
	.uploading .layui-card-body .network div {
		margin: auto;
		margin-top: 30px;
		text-align: center;
	}
	
	.uploading .layui-card-body .network div i {
		font-size: 25px;
		color: #bae6e2;
	}
	.updateData {
		width: 570px;
		height: 350px;
		background-color: #fff;
		z-index: 999;
		position: absolute;
		left: calc(50% - 285px);
		left: -moz-calc(50% - 285px);
		left: -webkit-calc(50% - 285px);
		top: calc(50% - 175px);
		top: -moz-calc(50% - 175px);
		top: -webkit-calc(50% - 175px);
		border-radius: 5px;
		display: none;
	}
	
	.updateData .layui-card-header i {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	
	.updateData .layui-card-body .ps {
		width: 80%;
		font-size: 10px;
		text-align: left;
		margin-top: 30px;
	}
	.updateData .layui-card-body .ps p{
		color: #c1c1c1;
	}
	.updateData .layui-card-body .ps span{
		color: #666;
	}
	
	.updateData .layui-card-body .Up {
		width: 120px;
		height: 120px;
		margin: auto;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
	}
	
	.updateData .layui-card-body .data {
		width: 100%;
		height: 100%;
		border: 1px dashed #ddd;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.updateData .layui-card-body .data:hover {
		border: 1px dashed #108EE9;
	}
	
	.updateData .layui-card-body .data div {
		margin: auto;
		margin-top: 30px;
		text-align: center;
	}
	
	.updateData .layui-card-body .data div i {
		font-size: 25px;
		color: #bae6e2;
	}
	
	div::-webkit-scrollbar,
	ul::-webkit-scrollbar {
		/*滚动条整体样式*/
		width: 4px;
		/*高宽分别对应横竖滚动条的尺寸*/
		height: 4px;
	}
	
	div::-webkit-scrollbar-thumb,
	ul::-webkit-scrollbar-thumb {
		/*滚动条里面小方块*/
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 5px rgba(30, 144, 255, .5);
		background: rgba(30, 144, 255, .5)
	}
	
	div::-webkit-scrollbar-track,
	ul::-webkit-scrollbar-track {
		/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
		border-radius: 0;
		background: rgba(0, 0, 0, 0);
	}