	body {
		width: 100%;
		height: 100%;
	}
	
	a {
		cursor: pointer;
	}
	
	hr {
		opacity: 0.5;
	}
	
	.hover {
		background-color: #8CCBE2;
		color: #fff;
	}
	
	.select {
		color: #000;
		background: #fff;
	}
	
	.Editlayer{
		width: 100px;
		height: 200px;
		z-index: 999;
		background-color: #fff;
		position: absolute;
		left: 240px;
		top: 100px;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		display: none;
	}
	.Editlayer li{
		color: rgba(0,0,0,.65);

		font-size: 12px;
		text-align: left;
		line-height: 40px;
		width: 100%;
		height: 40px;
	}
	.Editlayer li span{
		padding-left:15px ;
	}
	.Editlayer li:hover{
		cursor: pointer;
		background-color: rgba(30,144,255,.1);
	}
	.content {
		width: 280px;
		height: 100%;
		overflow: auto;
		position: absolute;
		background: #fff;
	}
	
	.content .layui-card {
		height: 100%;
		margin: 0;
	}
	
	.content .layui-card .layui-card-header span {
		cursor: pointer;
	}
	
	.content .layui-card .layui-card-header #all {
		font-size: 20px;
		padding-left: 8px;
		border-left: 5px solid #108EE9;
	}
	
	.content .layui-card i {
		color: #ddd;
		padding: 15px;
		cursor: pointer;
	}
	
	.content .layui-card .layui-card-body li {
		margin: 15px 0px;
	}
	
	.content .layui-card .layui-card-body span {
		color: #ddd;
		padding: 15px;
	}
	
	.content .layui-card .layui-card-body a {
		cursor: pointer;
	}
	
	.content .layui-card .layui-card-body .layui-icon-add-1 {
		font-size: 14px;
		color: #108ee9;
		border: 1px solid #108ee9;
		padding: 0px;
		border-radius: 15px;
	}
	
	.content .layui-card .layui-card-body .layui-icon-add-1:hover {
		color: #fff;
		background-color: #108ee9;
	}
	
	.content .layui-card .layui-card-body .fa {
		color: #aaa;
		font-size: 25px;
		padding: 0;
		float: right;
	}
	
	.map {
		width: calc(100% - 280px);
		height: calc(100% - 3px);
		position: absolute;
		left: 280px;
	}
	
	iframe {
		width: 100%;
		height: 100%;
		border: 0px;
	}
	
	.Show {
		width: 40px;
		height: 80px;
		background-color: #108ee9;
		line-height: 80px;
		text-align: center;
		position: fixed;
		top: calc(50% - 50px);
		border-radius: 0 100px 100px 0;
		z-index: 999;
		display: none;
		cursor: pointer;
	}
	
	.Show i {
		font-size: 30px;
		color: #fff;
	}
	
	.pointsLayer {
		display: none;
	}
	
	.pointsLayer i {
		margin-right: 5px;
	}
	
	.pointsLayer a {
		color: #108EE9;
	}
	
	.pointsLayer .pointsLayerReturn {
		height: 40px;
		line-height: 40px;
	}
	
	.pointsLayer .pointsLayerReturn i {
		cursor: pointer;
		position: absolute;
		right: 15px;
	}
	
	.pointsLayer .pointsLayerMain .caption {
		height: 35px;
		line-height: 35px;
		border-radius: 3px;
		background-color: #233046;
		color: #fff;
	}
	
	.pointsLayer .pointsLayerReturn,
	.pointsLayer .pointsLayerMain .sort,
	.pointsLayer .pointsLayerMain .caption,
	.pointsLayer .pointsLayerMain .coordinate,
	.pointsLayer .pointsLayerBottom {
		padding: 10px;
	}
	
	.pointsLayer .pointsLayerMain .sort #time,
	.pointsLayer .pointsLayerMain .sort #letter {
		cursor: pointer;
		margin: 0px 5px;
		padding: 3px 6px;
		border-radius: 4px;
	}
	
	.pointsLayer .pointsLayerMain .sort .active {
		background-color: #108EE9;
		color: #fff;
	}
	
	.pointsLayer .pointsLayerMain .coordinate {
		height: 700px;
		overflow: auto;
	}
	
	.pointsLayer .pointsLayerMain .coordinate li {
		padding: 0px 20px;
		height: 35px;
		line-height: 35px;
		border-radius: 3px;
		cursor: pointer;
	}
	
	.pointsLayer .pointsLayerMain .coordinate li:hover {
		background-color: #8CCBE2;
		color: #fff;
	}
	
	.pointsLayer .pointsLayerMain .coordinate i {
		color: #FF0000;
	}
	
	.pointsLayer .pointsLayerBottom .import {
		position: absolute;
		right: 10px;
	}
	
	.pointsLayer .attribute {
		margin-top: 20px;
		height: 350px;
		display: none;
		position: relative;
	}
	
	.pointsLayer .attribute i {
		cursor: pointer;
	}
	
	.pointsLayer .attribute li {
		margin: 20px 0;
		padding: 0px 10px;
	}
	
	.pointsLayer .attribute #test1 img {
		width: 100%;
		height: 100%;
	}
	
	.pointsLayer .attribute .icon {
		position: absolute;
		color: #fff;
		right: 10px;
		top: 10px;
	}
	
	.pointsLayer .attribute .icon i {
		margin-left: 2px;
	}
	
	.pointsLayer .attribute .title {
		border-radius: 3px;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		background-color: #233046;
		margin-bottom: 10px;
		color: #fff;
		padding-left: 10px;
	}
	
	.pointsLayer .attribute #test1 {
		margin: auto;
	}
	
	.pointsLayer .attribute .material {
		width: 100%;
		height: 150px;
		overflow: auto;
		position: relative;
	}
	
	.pointsLayer .attribute .material span {
		color: #757575;
	}
	
	.pointsLayer .attribute .material .means {
		width: 35%;
		display: inline-block;
		vertical-align: top;
	}
	
	.pointsLayer .attribute .material .value {
		width: 65%;
		display: inline-block;
		vertical-align: top;
		color: rgba(0, 0, 0, .8);
	}
	
	.mask {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		position: fixed;
		z-index: 998;
		display: none;
	}
	
	.addLayer {
		width: 570px;
		height: 350px;
		background-color: #fff;
		z-index: 999;
		position: absolute;
		left: calc(50% - 285px);
		left: -moz-calc(50% - 285px);
		left: -webkit-calc(50% - 285px);
		top: calc(50% - 175px);
		top: -moz-calc(50% - 175px);
		top: -webkit-calc(50% - 175px);
		border-radius: 5px;
		display: none;
	}
	
	.addLayer .layui-card-header i {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	
	.addLayer .layui-card-body .box {
		width: 400px;
		height: 200px;
		margin: auto;
		margin-top: 80px;
		position: relative;
	}
	
	.addLayer .box .layui-input-inline{
		width: 400px;
	}
	.addLayer .box .layui-input-inline input{
		padding-left: 15px;
	}
	.addLayer .layui-card-body .btn {
		position: absolute;
		bottom: 10px;
		right: 0px;
	}
	
	.addLayer .layui-card-body .btn input {
		width: 100px;
	}
	
	.uppicture {
		width: 570px;
		height: 350px;
		background-color: #fff;
		z-index: 999;
		position: absolute;
		left: calc(50% - 285px);
		left: -moz-calc(50% - 285px);
		left: -webkit-calc(50% - 285px);
		top: calc(50% - 175px);
		top: -moz-calc(50% - 175px);
		top: -webkit-calc(50% - 175px);
		border-radius: 5px;
		display: none;
	}
	
	.uppicture .layui-card-header i {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	
	.uppicture .layui-card-body .Up,
	.uppicture .layui-card-body .alreadyUp {
		width: 120px;
		height: 120px;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
		float: left;
		margin-right: 10px;
	}
	
	.uppicture .layui-card-body .Up .picture {
		width: 100%;
		height: 100%;
		border: 1px dashed #ddd;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.uppicture .layui-card-body .alreadyUp .picture {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	
	.uppicture .layui-card-body .Up .picture:hover {
		border: 1px dashed #108EE9;
	}
	
	.uppicture .layui-card-body .Up .picture div i {
		display: block;
		margin-top: 30px;
		text-align: center;
	}
	
	.uppicture .layui-card-body .Up .picture div p {
		text-align: center;
	}
	
	.uppicture .layui-card-body .alreadyUp .picture div {
		width: 122px;
		height: 122px;
		line-height: 122px;
		margin: auto;
		text-align: center;
		overflow: hidden;
	}
	
	.uppicture .layui-card-body .alreadyUp .picture div img {
		width: 100%;
	}
	
	.uppicture .layui-card-body .Up .picture div i {
		font-size: 25px;
		color: #bae6e2;
	}
	
	.uploading {
		width: 570px;
		height: 350px;
		background-color: #fff;
		z-index: 999;
		position: absolute;
		left: calc(50% - 285px);
		left: -moz-calc(50% - 285px);
		left: -webkit-calc(50% - 285px);
		top: calc(50% - 175px);
		top: -moz-calc(50% - 175px);
		top: -webkit-calc(50% - 175px);
		border-radius: 5px;
		display: none;
	}
	
	.uploading .layui-card-header i {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	
	.uploading .layui-card-body .ps {
		width: 80%;
		font-size: 10px;
		text-align: left;
		margin-top: 50px;
	}
	
	.uploading .layui-card-body .ps p {
		color: #c1c1c1;
	}
	
	.uploading .layui-card-body .ps span {
		color: #666;
	}
	
	.uploading .layui-card-body .ps a {
		color: #108EE9;
		padding-right: 10px;
	}
	
	.uploading .layui-card-body .Up {
		width: 120px;
		height: 120px;
		margin: auto;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
	}
	
	.uploading .layui-card-body .network {
		width: 100%;
		height: 100%;
		border: 1px dashed #ddd;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.uploading .layui-card-body .network:hover {
		border: 1px dashed #108EE9;
	}
	
	.uploading .layui-card-body .network div {
		margin: auto;
		margin-top: 30px;
		text-align: center;
	}
	
	.uploading .layui-card-body .network div i {
		font-size: 25px;
		color: #bae6e2;
	}
	
	.updateData {
		width: 570px;
		height: 350px;
		background-color: #fff;
		z-index: 999;
		position: absolute;
		left: calc(50% - 285px);
		left: -moz-calc(50% - 285px);
		left: -webkit-calc(50% - 285px);
		top: calc(50% - 175px);
		top: -moz-calc(50% - 175px);
		top: -webkit-calc(50% - 175px);
		border-radius: 5px;
		display: none;
	}
	
	.updateData .layui-card-header i {
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	
	.updateData .layui-card-body .ps {
		width: 80%;
		font-size: 10px;
		text-align: left;
		margin-top: 30px;
	}
	
	.updateData .layui-card-body .ps p {
		color: #c1c1c1;
	}
	
	.updateData .layui-card-body .ps span {
		color: #666;
	}
	
	.updateData .layui-card-body .Up {
		width: 120px;
		height: 120px;
		margin: auto;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px;
	}
	
	.updateData .layui-card-body .data {
		width: 100%;
		height: 100%;
		border: 1px dashed #ddd;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.updateData .layui-card-body .data:hover {
		border: 1px dashed #108EE9;
	}
	
	.updateData .layui-card-body .data div {
		margin: auto;
		margin-top: 30px;
		text-align: center;
	}
	
	.updateData .layui-card-body .data div i {
		font-size: 25px;
		color: #bae6e2;
	}
	
	div::-webkit-scrollbar,
	ul::-webkit-scrollbar {
		/*滚动条整体样式*/
		width: 4px;
		/*高宽分别对应横竖滚动条的尺寸*/
		height: 4px;
	}
	
	div::-webkit-scrollbar-thumb,
	ul::-webkit-scrollbar-thumb {
		/*滚动条里面小方块*/
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 5px rgba(30, 144, 255, .5);
		background: rgba(30, 144, 255, .5)
	}
	
	div::-webkit-scrollbar-track,
	ul::-webkit-scrollbar-track {
		/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
		border-radius: 0;
		background: rgba(0, 0, 0, 0);
	}