		hr{
			opacity: .6;
		}
		.layui-nav-side {
			border-radius: 0;
			z-index: 889;
		}
		
		.layui-nav-side .head {
			width: 200px;
			height: 120px;
		}
		
		.layui-nav-side li {
			cursor: pointer;
			position: relative;
		}
		
		.layui-nav-side .head .takeUp {
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 120px;
			background: rgba(0, 0, 0, .3);
		}
		
		.layui-nav-side .head .takeUp i {
			font-size: 16px;
			text-align: center;
			position: absolute;
			top: 52px;
			left: 17px;
			cursor: pointer;
		}
		
		.layui-nav-side .head .teamHead {
			position: absolute;
			top: 0;
			left: 50px;
			width: 150px;
			height: 120px;
			overflow: hidden;
			background-color: rgba(0, 0, 0, .1);
		}
		
		.layui-nav-side .head .teamHead img {
			width: 60px;
			height: 60px;
			border-radius: 30px;
			position: absolute;
			top: 35px;
			left: 40px;
			background: #fff;
			cursor: pointer;
		}
		
		.layui-nav-side .head .takeUp,
		.layui-nav-side .head .teamHead {
			display: inline-block;
		}
		.Bottom{
			width: 100%; 
			height: 100px; 
			text-align: center;
			position: absolute;
			bottom: 50px;
		}
		
		.Bottom .MapList{
			width: 160px;
			height: 25px;
			padding-top: 6px;
			margin-left: 10px;
			margin-bottom: 20px;
			background-color:rgba(33,50,79,.3);;
			border-radius: 20px;
			cursor: pointer;
		}
		.Bottom .MapList .btn{
			width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 8em;
			display: inline-block;
		}
		.Bottom .MapList  *{
			color: rgba(255,255,255,.7);
			vertical-align:middle;
		}
		.Bottom .MapList i{
			font-size: 10px;
		}
		.Bottom .MapList .btn i{
			font-size: 18px;	
		}
		.List{
			width: 312px;
			height: 312px;
			position: absolute;
			left: 210px;
			bottom: 120px;
			border-radius:5px ;
			z-index: 999;
			background-color: #fff;
			display: none;
			box-shadow: 0px  2px  10px rgba(51,51,51,.2);
		}
		.List .header{
			height: 40px;
			line-height: 40px;
			border-radius: 5px 5px 0px 0px;
			background-color: #1890FF;
			text-align: center;
		}
		.List .header span,
		.List .header i{
			color: #fff;
			font-size: 18px;
		}
		.List .header i{
			position: absolute;
			right: 10px;
			cursor: pointer;
		}
		.List .content{
			overflow: auto;
		}
		.List .content li{
			width: 260px;
			height: 50px;
			padding: 10px 14px;
			font-size: 14px;
			position: relative;
			border-bottom: 1px solid rgba(55,55,55,.1);
			cursor: pointer;
		}
		.List .content li .img{
			width: 48px;
			height: 48px;
			border-radius: 24px;
			overflow: hidden;
		}
		.List .content li .img img{
			width: 100%;
		}
		.List .content li .list-name{
			width: 180px;
			margin-left: 20px;
			position: absolute;
			top: 10px;
		}
		.List .content li .list-name .default-list-i{
			background-color: #2496FF;
		}
		.List .content li .list-name .default-list-p{
			color: #2496FF;
		}
		.List .content li .list-text .me{
			display: inline-block;
			width: 60px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 6em;
		}
		.List .content li .list-name p i{
			display: inline-block;
			padding: 1px;
			margin-left: 5px;
			background-color: #aaa;
			color: #fff;
			border-radius: 100px;
			transform: scale(0.7);
			font-size: 12px;
		}
		.List .content li .list-name .list-text{
			width:210px;
			position: absolute;
			top: 30px;
			color: #C1C1C1;
		}
		.List .content li .list-name .list-text .time{
			margin-left: 10px;
		}
		.List .content li div{
			display: inline-block;
		}
		.List .content{
			height: 228px;
			overflow: auto;
		}
		.List .footer{
			height: 44px;
			line-height: 44px;
			text-align: center;			
			box-shadow: 0 0 5px 0 rgba(72,72,72,.1);
			position: relative;
			}
		.List .footer .box div{	
			width: 150px;
			display: inline-block;
			cursor: pointer;
		}
		.List .footer .box div a{
			color: #1890FF;
		}
		.List .footer .box .establish:after{
			content: '';
		    width: 2px;
		    height: 20px;
		    background: #C1C1C1;
			display: inline-block;
			position: absolute;
			top: 12px;
			left: 155px;
		}
		.Bottom .User{
			line-height: 50px;
		}
		.Bottom .User img{
			background-color: #fff;
			width: 40px;
			height: 40px;
			border-radius: 40px;
		}
		.Bottom .User span{
			padding-left: 10px;
			font-size: 16px;
			color: rgba(255,255,255,.7);
		}
		iframe {
			width: calc(100% - 200px);
			height: 100%;
			position: absolute;
			left: 200px;
			top: 0;
			border: 0px;
		}
		
		.open {
			width: calc(100% - 50px);
			left: 50px;
		}
		
		.visibilityHidden {
			visibility: hidden;
		}
		
		.visibilityVisible {
			visibility: visible;
		}
		
		div::-webkit-scrollbar,
		ul::-webkit-scrollbar {
			width: 4px;
			height: 4px;
		}
		
		div::-webkit-scrollbar-thumb,
		ul::-webkit-scrollbar-thumb {
			border-radius: 5px;
			-webkit-box-shadow: inset 0 0 5px rgba(30, 144, 255, .5);
			background: rgba(30, 144, 255, .5)
		}
		
		div::-webkit-scrollbar-track,
		ul::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
			border-radius: 0;
			background: rgba(0, 0, 0, 0);
		}
		@media screen and (max-height: 720px) { 
		.Bottom{
			position: relative;
			bottom: 0px;
			}
		}