

.title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding-left: 15px;
}

.StartAndEnd {
	width: 250px;
	border: 2px solid #e5e5e5;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	padding-bottom: 20px;
}

.StartAndEnd .ant-tabs-nav-scroll {
	width: 80%;
	margin: auto;
	border-bottom: 2px solid #e5e5e5;
}

.StartAndEnd .ant-tabs-nav-scroll .ant-tabs-nav {
	width: 60%;
	height: 45px;
	text-align: center;
	margin: auto;
}

.StartAndEnd .ant-tabs-nav-scroll .ant-tabs-nav div {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 10px 15px;
	cursor: pointer;
	position: relative;
	border-bottom: 2px solid #108ee9;
}

.carorbike img {
	filter: contrast(10%);
}

.carorbike {
	border-bottom: 0px solid #108ee9 !important;
}

.StartAndEnd .ant-tabs-nav-scroll .ant-tabs-nav img {
	width: 100%;
	height: 20px;
}

.StartAndEnd .Start .content {
	width: 90%;
	margin: auto;
	margin-bottom: 15px;
}

.StartAndEnd .Start .content .icon {
	margin-top: 15px;
	padding-left: 10px;
	width: calc(100% - 10px);
	line-height: 25px;
	border-radius: 15px;
	color: #fff;
	font-size: 12px;
	text-align: left;
}

.StartAndEnd .Start .content .icon1 {
	background-color: #2fc82d;
	background-image: linear-gradient(90deg, #2fc82d 17%, #d8fbd9 100%);
}

.StartAndEnd .Start .content .icon2 {
	background-color: #d41b3c;
	background-image: linear-gradient(90deg, #d41b3c 17%, #ebacb2 100%);
}

.workzone .content .searchBox {
	width: 100%;
	margin: 10px 0;
	position: relative;
}

.workzone .content .searchBox input {
	height: 33px;
	display: inline-block;
	padding-right: 50px;
	border-right: 0px;
	border-radius: 4px 0px 0px 4px;
	margin: 20px 0 10px 0;
	font-size: 12px;
}

.workzone .content .searchBox span {
	width: 100%;
	position: absolute;
	right: 0px;
	padding: 0 5px;
	width: 30px;
	height: 33px;
	background-color: #40A9FF;
	text-align: center;
	vertical-align: top;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	margin: 20px 0 10px 0;
	font-size: 12px;
	color: #fff;
}

.layui-input-block {
	margin: -15px 0 10px 0;
	text-align: center;
}

.layui-form-radio * {
	font-size: 12px;
}

.layui-form-radio>i {
	font-size: 15px;
}

.StartAndEnd .layui-btn[type="submit"] {
	width: 70%;
	height: 30px;
	line-height: 30px;
	background-color: #1890FF;
	border-radius: 4px;
}

.number {
	margin: 15px 0;
	display: none;
}

.number input {
	display: inline-block;
	width: 60%;
	height: 30px;
	font-size: 12px;
}