.workzone .btn {
	width: 80%;
	margin: 5% 0 0 10%;
}

.workzone {
	width: 279px;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 200px;
	border-right: 1px solid #ddd;
}

.workzone .caption {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
}

.workzone .caption .layui-btn {
	width: 80px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.workzone .caption p {
	margin-left: 10%;
}

.workzone .content {
	padding: 20px 0 0 0;
	height: 85%;
	border-bottom: 1px solid #ddd;
}

.workzone .content .list {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.workzone .content .list .layer {
	margin: auto;
}

.workzone .content .list .layer .name,
.workzone .content .list .layer .layer_com {
	display: inline-block;
}

.workzone .content .list .layer .name {
	padding-left: 10%;
	font-size: 13px;
}

.workzone .content .list .layer .name i {
	padding-right: 5px;
	color: #333;
}

.workzone .content .check {
	background: #8ccbe2 !important;
}

.workzone .content .check .layer .name i {
	color: #fff;
}

.workzone .content .list .layer .layer_com {
	float: right;
	padding-right: 10%;
}

.workzone .content .list .layer .layer_com i {
	font-size: 18px;
	padding-left: 10px;
}

.map {
	width: calc(100% - 480px);
	height: calc(100% - 3px);
	position: absolute;
	left: 480px;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0px;
}