.main {
	background: #f5f5f5;
}

.main .content {
	width: 1226px;
	margin: auto;
}

.main .content .title {
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	color: #616161;
}

.main .content .container .nav-left,
.main .content .container .user {
	float: left;
	padding: 36px 0;
	background-color: #fff;
	margin-bottom: 40px;
}
.main .content .container .user {
	max-width: 978px;
	margin-left: 14px;
}

.main .content .container .nav-left .nav-box {
	margin-bottom: 12px;
	width: 234px;
}

.main .content .container .nav-left .nav-box p {
	height: 52px;
	line-height: 52px;
	margin: 0 48px 2px;
	font-size: 16px;
	color: #333;
}

.main .content .container .nav-left .nav-box a {
	display: block;
	padding: 6px 48px;
	color: #757575;
	transition: color .1s;
}

.main .content .container .nav-left .nav-box a:hover {
	color: #424242;
}

.main .content .container .user .portal-main {
	width: 882px;
	padding-bottom: 40px;
	border-bottom:1px solid #e0e0e0;
}

.main .content .container .user .user-box {
	margin: 0 48px;
	padding-top: 24px;
}

.main .content .container .user .portal-main .user-card {
	float: left;
}
.main .content .container .user .portal-main .user-card .tx,
.main .content .container .user .portal-main .user-card .card
{
	float: left;
}
.main .content .container .user .portal-main .user-card .tx {
	width: 150px;
	height: 150px;
	padding: 4px;
	border-radius: 90px;
	border: 1px solid #e0e0e0;
	text-align: center;
	line-height: 150px;
}

.main .content .container .user .portal-main .user-card .tx img {
	width: 100%;
	border-radius: 90px;
}
.main .content .container .user .portal-main .user-card .card{
	padding-top: 40px;
	padding-left:20px ;
}
.main .content .container .user .portal-main .user-card .card .username{
	height: 36px;
	margin: 0;
	line-height: 36px;
    font-size: 24px;
    font-weight: 400;
    color: #616161;
}
.main .content .container .user .portal-main .user-card .card .tip{
	margin: 0 0 10px;
    color: #b0b0b0;
    font-size: 14px;
}
.main .content .container .user .portal-main .user-card .card a{
	font-size: 12px;
	color: #ff6700;
}
.main .content .container .user .portal-main  .user-actions{
	float: right;
	width: 358px;
    margin-top: 35px;
    font-size: 14px;
    color: #b0b0b0;
}
.main .content .container .user .portal-main  .user-actions .action-list li{
	 padding: 6px 0;
	 position: relative;
}
.main .content .container .user .portal-main  .user-actions .action-list li input{
	width: 120px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0px;
}
.main .content .container .user .portal-sub{
	padding: 50px 0;
}
.main .content .container .user .portal-sub .info-list li{
	width: 50% !important;
	float: left;
	color: #757575;
	position: relative;
	margin: 20px 0;
}
.main .content .container .user .portal-sub .info-list li img,
.main .content .container .user .portal-sub .info-list li div
{
	display: inline-block;
}
.main .content .container .user .portal-sub .info-list li div{
	position: absolute;
	top: 28px;
	left: 120px;
}
.main .content .container .user .portal-sub .info-list li h3{
    font-size: 18px;
}
.main .content .container .user .portal-sub .info-list li a{
	color: #757575;
}
.main .content .container .user .portal-sub .info-list li a:hover{
	color: #FF6700;
}
