body {
				margin: 0;
				padding: 0;
			}
			
			.a1 {
				margin: auto;
				width: 550px;
			}
			
			.img {
				text-align: left;
			}
			
			.img img {
				margin-bottom: -7px;
				width: 25px;
				border-radius: 50%;
			}
			
			.img span {
				padding: 5px;
				color: #38f;
			}
			
			.wt {
				width: 550px;
				margin-top: 20px ;
			}
			
			.contont {
				width: 550px;
			}
			.contont p{
				line-height: 25px;
			}
			.ps {
				margin: auto;
				margin-top:50px ;
				width: 800px;
				background-color: #e6e6eb;
			}
			
			.ps p {
				color: #999;
				padding: 15px;
			}
			