body {
	padding: 0;
	margin: 0;
}

a {
	list-style: none;
	text-decoration: none;
}

.continued {
	color: #f00;
}

.whole {
	color: #009F95;
}

.xiaos {
	margin: auto;
	z-index: -1;
}

.tit {
	background-color: #A0A0A0;
	margin-bottom: 50px;
	text-align: center;
	padding: 10px;
}

#b00,
#b01,
#b02,
#b03,
#b04,
#b05 {
	width: 100px;
	height: 40px;
	margin: auto;
}

button {
	color: #FF6600;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #FF6600;
}

button:hover {
	color: #f00;
	border: 1px solid f00;
	box-shadow: 0 0 10px #FF6600;
	text-shadow: 0 0 10px #FF6600;
	cursor: pointer;
}

.navfh {
	width: 100%;
	height: 80px;
}

.navfh .fh {
	text-align: center;
	color: #f00;
	display: block;
}

.nav a,
.fy {
	color: #f00;
}

.nav .dl:hover,
.fy:hover,
.fh:hover {
	box-shadow: 0 0 10px #FF6600;
	text-shadow: 0 0 10px #FF6600;
}

@media screen and (min-width: 0px) {
	h3 {
		margin-top: 80px;
	}
	.xiaos {
		width: 325px;
		padding: 25px;
		margin: auto;
		line-height: 35px;
		padding-bottom: 55px;
	}
	.xiaos img {
		width: 110px;
		float: left;
		padding-right: 5px;
	}
	span {
		margin-left: 10px;
	}
	.nav {
		width: 100%;
		height: 80px;
		background-color: #333;
		z-index: 999;
		position: fixed;
		top: 0px;
		right: 0px;
		text-align: center;
		line-height: 80px;
		display: none;
	}
	.fh,
	.fy {
		border: 1px solid #f00;
		padding: 15px 25px;
	}
	.nav .dl {
		color: #fff;
		border: 1px solid #fff;
		padding: 10px 20px;
	}
	.catalog {
		width: 320px;
		height: 500px;
		overflow: auto;
		position: fixed;
		top: 135px;
		right: 30px;
		display: none;
		text-align: center;
		background-color: rgba( 0, 191, 255);
		border-radius: 20px;
	}
	.catalog p {
		font-size: 20px;
		padding: 10px 80px;
		color: #F2F2F2;
	}
	.fy {
		width: calc(50% - 2px);
		padding: 20px 0;
		cursor: pointer;
		display: none;
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	span {
		margin-left: 30px;
	}
	.xiaos {
		width: 850px;
		margin: auto;
		line-height: 35px;
	}
	.xiaos img {
		width: 110px;
		float: left;
		padding-right: 40px;
	}
	
	.nav {
		width: 200px;
		height: 80px;
		z-index: 999;
		position: fixed;
		background-color: rgba(0, 0, 0, 0);
		top: 30px;
		right: 30px;
		display: none;
	}
	.fh,
	.fy {
		border: 1px solid #f00;
		padding: 10px 20px;
	}
	.nav .dl {
		color: #f00;
		border: 1px solid #f00;
		padding: 10px 20px;
	}
	.catalog {
		width: 300px;
		height: 700px;
		overflow: auto;
		position: fixed;
		top: 120px;
		right: 50px;
		display: none;
		text-align: center;
		border: 0px solid #000;
		background-color: rgba( 0, 191, 255, .8);
	}
	.catalog p {
		padding: 10px 80px;
		cursor: pointer;
		color: #F2F2F2;
	}
	.fy {
		position: fixed;
		bottom: 10px;
		cursor: pointer;
		display: none;
	}
}