*{
	box-sizing: border-box;
}
.clearfix{
	content: "";
	display: block;
	clear: both;
}
body{
	color: #fff;
	background: url(../img/autumn-free-license-cc0.jpg)no-repeat fixed;	
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #fff;
}
header,main{
	width: 1200px;
	margin: auto;
	position: relative;
}
.a{
	height: 150px;
}
header nav{
	position: absolute;
	right:10px;
	top: 10px;
}
header nav li{
	float: left;
	margin: 20px 50px;
}
header nav li a{
	padding: 15px;
	transition: border,padding,color .5s; 
}
header nav li:hover a{
	border: 1px solid #fff;
	padding: 14px;
	color: #000;
}
.logo{
	margin-top: 40px;
	width: 150px;
}
p a{
	padding-bottom: 7px;
	border-bottom: 1px dashed #fff;
	transition: border .5s;
}
p a:hover{
	border-bottom: 1px solid #fff;	
}
/*section{
	margin: 20px 0px;
}*/
section{
	margin: 50px 0px;
}
main section ul{
	margin: 0px -40px ;
}
main section ul li{
	float: left;
	width: 160px;
	height: 50px;
	line-height: 50px;
	margin: 15px 20px 0px 0px;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(50,80,100,.5);
	transition: background-color .5s,border-radius .5s;
	cursor: pointer;
}
main section ul li:hover{
	background-color: rgba(50,80,100,.8);
	border-radius: 0px;
}
